@import "styles/utils";

.home {
  min-height: 812px;

  @include media(">tablet") {
    min-height: 1024px;
  }

  @include media(">desktop") {
    min-height: 960px;
  }
}

.main {

  .container {

    @include media(">desktop") {
      display: flex;
      justify-content: space-between;
    }
  }

  .title {
    margin-bottom: 16px;

    @include media(">desktop") {
      margin-bottom: 48px;
    }
  }

  .description {
    margin-bottom: 40px;
  }
}
