:root {
  --color-purple: #A729F5;
  --color-grey-navy: #626C7F;
  --color-navy: #3B4D66;
  --color-dark-navy: #313E51;
  --color-light-grey: #F4F6FA;
  --color-light-bluish: #ABC1E1;
  --color-green: #26D782;
  --color-red: #EE5454;
  --color-pure-white: #FFFFFF;

  --theme-color-primary: var(--color-purple);
  --theme-color-success: var(--color-green);
  --theme-color-danger: var(--color-red);

  &.light {
    --theme-background: url("/background-circle-light.svg");
    --theme-color-secondary: var(--color-dark-navy);
    --theme-color-neutral: var(--color-grey-navy);
    --theme-color-background: var(--color-light-grey);
    --theme-color-box: var(--color-pure-white);
    --theme-box-shadow: 0 16px 40px 0 rgba(143, 160, 193, 0.14);
  }

  &.dark {
    --theme-background: url("/background-circle-dark.svg");
    --theme-color-secondary: var(--color-pure-white);
    --theme-color-neutral: var(--color-light-bluish);
    --theme-color-background: var(--color-dark-navy);
    --theme-color-box: var(--color-navy);
    --theme-box-shadow: 0 16px 40px 0 rgba(49, 62, 81, 0.14);
  }
}
