@import "utils";

@mixin Typography($font-size, $font-weight, $font-style, $line-height, $letter-spacing, $font-family) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: $font-style;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-family: $font-family;
}

@mixin Display {
  @include Typography(88px, 500, normal, 100%, initial, var(--rubik-font));

  @include media(">tablet") {
    font-size: 144px;
  }
}

@mixin HeadingL {
  @include Typography(40px, 500, normal, 100%, initial, var(--rubik-font));

  @include media(">tablet") {
    font-size: 64px;
  }
}

@mixin HeadingM {
  @include Typography(20px, 500, normal, 120%, initial, var(--rubik-font));

  @include media(">tablet") {
    font-size: 36px;
  }
}

@mixin HeadingS {
  @include Typography(18px, 500, normal, 100%, initial, var(--rubik-font));

  @include media(">tablet") {
    font-size: 28px;
  }
}

@mixin BodyM {
  @include Typography(18px, 400, normal, 100%, initial, var(--rubik-font));

  @include media(">tablet") {
    font-size: 24px;
    line-height: 150%;
  }
}

@mixin BodyS {
  @include Typography(14px, 400, italic, 150%, initial, var(--rubik-font));

  @include media(">tablet") {
    font-size: 20px;
  }
}
